# Start of script

# Editor configuration file for seanpm2001/GitHub_Stats_A

root = true

# Root
[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false
line_wrap_mode = soft wrap

# Markdown document
[*.md *.mkd *.mdown *.markdown]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false
line_wrap_mode = soft wrap

# YAML (YAML Ain't Markup Language) source file
[*.yml *.yaml]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false
line_wrap_mode = soft wrap

# Plain text
[*.txt]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false
line_wrap_mode = soft wrap

# SVG (Scalable Vector Graphics) image file
[*.svg]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false
line_wrap_mode = soft wrap

# Gitconfig
[*.editorconfig *.gitattributes *.gitignore]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false
line_wrap_mode = soft wrap

# URLL (URL List) source file
[*.urll]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false
line_wrap_mode = soft wrap

# PNG image file
[*.png]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false
line_wrap_mode = soft wrap

# Configuration file
[*.ini *.cfg]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false
line_wrap_mode = soft wrap

# Python source file
[*.py *.py3 *.pyt *.pyw]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false
line_wrap_mode = soft wrap

# File info

# File type: Editorconfig file (*.editorconfig)
# File version: 1 (2022, Saturday, July 30th at 6:38 pm PST)
# Line count (including blank lines and compiler line): 114

# End of script
